
body { 
    padding-top: 30px; 
}

h1 {color:skyblue;
}

h2 {color:white;
    font-size: medium;}

h3 {font-size:x-large;
    align-items: center;}

.text-center {
    text-align: center;
    }

#summary-image {
    float: left;}


/* #main-vis-image {
    display: grid;
    align-items: center;
    justify-items: center;
    } */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#comparison-image {
    float:
    }

grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    }   

button-item {
    float: right;}

#fig1 {
    height: 195px;
    width: 300px;}
#fig2 {
    height: 195px;
    width: 300px;}
#fig3 {
    height: 195px;
    width: 300px;}
#fig4 {
    height: 195px;
    width: 300px;}

#linkfig1 {
    height: 180px;
    width: 250px;}
#linkfig2 {
    height: 180px;
    width: 250px;}
#linkfig3 {
    height: 180px;
    width: 250px;}
#linkfig4 {
    height: 180px;
    width: 250px;}


@media (max-width: 780px) {
    #fig1 {
        height: 95px;
        width: 115px;}
    #fig2 {
        height: 95px;
        width: 115px;}
    #fig3 {
        height: 95px;
        width: 115px;}
    #fig4 {
        height: 95px;
        width: 115px;}

    #linkfig1 {
        height: 150px;
        width: 200px;}
    #linkfig2 {
        height: 150px;
        width: 200px;}
    #linkfig3 {
        height: 150px;
        width: 200px;}
    #linkfig4 {
        height: 150px;
        width: 200px;}
    
    }
  


