
body {padding-top: 30px;}

h1 {color:skyblue;}

h2 {color:whitesmoke;
    font-size: medium;}

h3 {font-size:x-large;
    align-items: center;}

h4 {color:white;}

.navbar-brand {
    border: 3px solid white !important;
}

.text-center {
    text-align: center;}

#summary-image {
    float: left;}

#center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    width: 350px;
    }

grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    }   

button-item {
    float: right;}

#fig1 {
    height: 195px;
    width: 300px;}

#linkfig {
    height: 180px;
    width: 250px;}

@media (max-width: 780px) {
    #fig1 {
        height: 95px;
        width: 115px;}

    #linkfig {
        height: 150px;
        width: 200px;}

    #center-block {
        height: 300px;
        width: 450px;}
    
    #summary-image {
        float: none;}

    .bg-primary{
        background-color: midnightblue!important;
    }

    .navbar-brand {
        border: 2px solid dodgerblue !important;
    }

        
    }
  


